.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: calc(100vh - 4rem * 2);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 100%;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 1rem;
    min-height: calc(100vh - 1rem * 2);
  }

  .center {
    padding: 4rem 0;
  }
}
